.loading-spinner{
    text-align: center;
    position: relative;
  
    z-index: 10;
    /* transform: translate(-50%,-50%); */
}
@media screen and (max-width:500px) {
    .startButtons{
    flex-direction: column;
    
}
    .endButtons{
    flex-direction: column;
    
}
  .news-meta{
    flex-direction: column;
  }
}
.navigation-buttons{
 transition: all 400ms;
}
.navigation-buttons:hover{
    transform: translateY(-4px);
}

.start-100 {
    left: 85% !important;
  }

.dark{
  background-color: black;
  color: #fff;
}
.dark-card{
  background-color: black;
  color: #fff;
  border: 1px solid lightgray;

}
.active{
  text-decoration: underline;
}